@use '../_design-variables.scss' as dv;

$padding-left-no-rec-overlap: 2rem; //so that nothing overlaps the rec panel opener

.vp-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: dv.$color-quaternary;
  font-family: dv.$font-family-primary;
  border-left: solid 3px dv.$color-primary;


  .vp-banner {
    padding: dv.$spacing-large;
    padding-left: $padding-left-no-rec-overlap;
    position: relative;
    top: 0;
    left: 0;
    background-color: dv.$color-tertiary;
    flex-grow: 1;
    max-height: 5rem;
    border-bottom: dv.$border-thin-primary;

    h1 {
      margin-top: 0;
      font-size: dv.$font-size-large;
      margin-bottom: dv.$spacing-medium;
      color: dv.$color-primary;
    }

    .vp-banner-controller {

      display: flex;
      flex-direction: row;
      justify-content: left;

      button {
        @include dv.button-styles;
        margin-right: dv.$spacing-small;
        margin-bottom: dv.$spacing-small;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: dv.$spacing-smallest;
        font-size: dv.$font-size-medium ;
      }
    }


  }

  .viz-panel {
    flex-grow: 1;
    padding: dv.$spacing-medium;
    padding-left: $padding-left-no-rec-overlap;
    overflow: auto;
    margin-top: dv.$spacing-medium;
    position: relative; // Enable absolutely positioned children
    flex-grow: 1;


    .viz-item {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: dv.$spacing-small;
      border-radius: dv.$border-radius-small;
      background-color: dv.$color-tertiary;


      resize: both;
      overflow: auto;

      width: dv.rem(240); // Default size
      height: dv.rem(180);
      min-width: dv.rem(160); // Min size to avoid breaking Vega
      min-height: dv.rem(120);
      max-width: 100%;
      max-height: dv.rem(600);
      border: dv.$border-thin-primary;
      transition: border 0.2s;

      margin: dv.$spacing-smallest;
      flex-shrink: 1;

      &.selected {
        background-color: dv.$color-secondary;
        color: dv.$color-quaternary;
      }

      .viz-drag-handle {
        align-self: flex-start;
        cursor: move;
        border-radius: dv.$border-radius-small;
        background-color: rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .viz-content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }
}