@use '../_design-variables.scss' as dv;



.vp-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: dv.$color-quaternary;
  font-family: dv.$font-family-primary;
  border-left: solid 3px dv.$color-primary;
  overflow: hidden;


  .vp-banner {
    padding: dv.$spacing-large;
    background-color: dv.$color-tertiary;
    border-bottom: dv.$border-thin-primary;
    width: 100%;
    box-sizing: border-box;

    h1 {
      margin-top: 0;
      font-size: dv.$font-size-large;
      margin-bottom: dv.$spacing-medium;
      color: dv.$color-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .vp-banner-controller {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: dv.$spacing-small;

      button {
        @include dv.button-styles;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: dv.$spacing-smallest;
        font-size: dv.$font-size-medium;
        flex: 1 1 auto;


      }
    }
  }

  .button-icon {
    height: 1.5em;
    width: 1.5em;
  }

  .zoom-tools {
    display: flex;
    margin: dv.$spacing-smallest;
    gap: dv.$spacing-smallest;

    button {
      @include dv.button-styles;
      padding: dv.$spacing-smallest;
      font-size: dv.$font-size-small;
    }
  }

  .zoom-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: dv.$spacing-medium;
    margin-top: dv.$spacing-medium;

  }

  .viz-canva {
    min-width: 5000px;
    min-height: 5000px;
    padding: dv.$spacing-medium;
    overflow: hidden;
    position: relative;


    .viz-item {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: dv.$spacing-small;
      border-radius: dv.$border-radius-small;
      background-color: dv.$color-tertiary;


      resize: both;
      overflow: hidden;

      width: dv.rem(240); // Default size
      height: dv.rem(180);
      min-width: dv.rem(160); // Min size to avoid breaking Vega
      min-height: dv.rem(120);
      max-width: dv.rem(1200);
      max-height: dv.rem(800);
      border: dv.$border-thin-primary;
      transition: border 0.2s;

      flex-shrink: 1;

      &.selected {
        background-color: dv.$color-secondary;
        color: dv.$color-quaternary;
      }



      .viz-content {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


  }
}

.viz-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  height: fit-content;
  gap: dv.$spacing-small;
  overflow: hidden;
  text-overflow: ellipsis;

  .viz-name-input {
    margin: 0;
    min-width: 0;
    flex-grow: 1;
    margin: dv.$spacing-smallest;
    font-family: dv.$font-family-primary;
    font-size: dv.$font-size-medium;

    color: dv.$color-primary;
    background-color: rgba(dv.$color-tertiary,0.80);
    border: dv.$border-thinner-primary;
    border-radius: dv.$border-radius-small;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
    outline: none;
    transition: border 0.2s ease, background-color 0.2s ease;

    &:focus {
      border: dv.$border-thin-primary;
      background-color: dv.$color-quaternary;
    }

    &::placeholder {
      color: rgba(dv.$color-primary, 0.6);
      font-style: italic;
    }
  }

  .viz-drag-handle {
    align-self: flex-start;
    cursor: move;
    border-radius: dv.$border-radius-small;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.Viz-chart-container {
  cursor: pointer;
  flex-grow: 1 1 auto;
  max-height: 90%;
  padding: dv.$spacing-smallest;
}