@use '../_design-variables.scss' as dv;

.ds-view-container {
    display: flex;
    flex-direction: column;
    background-color: dv.$color-secondary; // Background color for the container
    padding: dv.$spacing-small;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    $ds-container-width: 20%;
    min-width: $ds-container-width;
    max-width: $ds-container-width;
    border-right: solid 3px dv.$color-primary;

    h1 {
        color: dv.$color-primary; // Text color for the heading
        font-size: dv.$font-size-large;
        padding: dv.$spacing-small;
        margin: 0;
    }

    .change-dataset-button {
        @include dv.button-styles; // Use the button mixin
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: dv.$font-size-smallest;
        width: 100%;
        padding: dv.$spacing-small;
        gap: dv.$spacing-smallest;

        span {

            text-overflow: ellipsis;

        }
    }

    .no-dataset {
        font-size: dv.$font-size-medium;
        font-weight: bold;
    }

    .properties-selection {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        margin-top: dv.$spacing-small;
        gap: dv.$spacing-small;

        .data-field-selection {
            font-family: dv.$font-family-primary;
            padding: 0;
            padding-bottom: dv.$spacing-smallest;
            background-color: dv.$color-tertiary;
            border-radius: dv.$border-radius-small;
            min-height: 10%;
            height: 35%;
            max-height: 80%;
            border: dv.$border-thin-primary;
            resize: vertical;
            overflow: hidden; // hide any overflow outside container
        }


        .data-encoding-selection {
            flex: 1 1 auto;
            font-family: dv.$font-family-primary;
            padding: dv.$spacing-smallest;
            background-color: dv.$color-tertiary;
            border-radius: dv.$border-radius-small;
            overflow-y: auto;
            border: dv.$border-thin-primary;


        }


    }



}