@use '../_design-variables.scss' as dv;

.ds-view-container {
    display: flex;
    flex-direction: column;
    background-color: dv.$color-secondary; // Background color for the container
    padding: dv.$spacing-small;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 30%;
    border-right: solid 3px dv.$color-primary;
    justify-content: space-evenly;

    h1 {
        color: dv.$color-primary; // Text color for the heading
        font-size: dv.$font-size-large;
    }

    .change-dataset-button {
        @include dv.button-styles; // Use the button mixin
        align-content: center;
        justify-content: center;
        display: flex;
        font-size: dv.$font-size-small;
        width: 100%;

        span {
            margin-right: dv.$spacing-small;
            margin-left: dv.$spacing-small;
            text-overflow: ellipsis;
        }
    }

    .no-dataset {
        font-size: dv.$font-size-medium;
        font-weight: bold;
    }

}