@use '../../_design-variables.scss' as dv;


.dataset-selection-container {
    width: 80%;
    max-width: dv.rem(1200);
    height: dv.rem(480);
    background-color: dv.$color-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 dv.rem(4) dv.rem(8) rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border: dv.$border-thin-primary;
    border-radius: dv.$border-radius-small;
    margin-top: dv.$spacing-large;
    padding: dv.$spacing-medium;


}

.table-container {
    width: 95%;
    height: 95%;
    margin: dv.$spacing-small;
    overflow-y: auto;
    position: relative;
    color: dv.$color-primary;
    display: initial;


    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid #ccc;
            padding: dv.rem(8); // 0.5em
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            position: sticky;
            top: 0;
            z-index: 200;
        }

        tr {
            background-color: #f9f9f9;

            &:hover {
                background-color: dv.$color-secondary;
            }

            &.selected {
                position: sticky;
                top: dv.rem(32); // 2em
                z-index: 300;
                background-color: dv.$color-tertiary;
                pointer-events: initial;
                bottom: 0;
            }
        }
    }
}

.confirm-button {
    @include dv.button-styles; // Use the button mixin

    width: 100%;
    padding: dv.rem(11.2); // 0.7em
    position: sticky;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        color: dv.$color-primary;
    }
}