@use '../_design-variables.scss' as dv;


.rec-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: dv.$color-tertiary;
  color: dv.$color-primary;
  justify-content: center;
}

.container-closed {
  width: fit-content;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.container-open {
  $rec-container-width: 25%;

  min-width: $rec-container-width;
  max-width: $rec-container-width;

}





.panel-button {
  flex:  1 1 auto;

  background: dv.$color-primary;
  border: none;
  cursor: pointer;
  z-index: 20;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  width: 100%;
  min-width: 10%;
  height: 100%;

}
$chevron-base-size: 32px;
$chevron-medium-size: 42px;
$chevron-large-size: 64px;


.chevron-icon {
  width: $chevron-base-size;
  height: $chevron-base-size;
  color: dv.$color-quaternary;
  transition: transform 0.3s ease;
  stroke-width: 2px;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }


  @media (min-width: 600px) {
    width: $chevron-medium-size;
    height: $chevron-medium-size;
  }

  @media (min-width: 900px) {
    width: $chevron-large-size;
    height: $chevron-large-size;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}


.rec-panel {
  background-color: dv.$color-primary;
  height: 95%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: dv.$spacing-medium;
  border-radius: dv.$border-radius-medium;
  margin: dv.$spacing-medium;


  h1 {
    font-size: dv.$font-size-large;
    color: dv.$color-tertiary;
    background-color: dv.$color-primary;

  }
}

.recviz-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  overflow-y: auto;
  gap: dv.$spacing-medium;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: dv.$spacing-large;

  h2 {
    margin-top: dv.$spacing-small;
    font-size: dv.$font-size-medium;
    color: dv.$color-tertiary;
  }
}

.fallback-message {
  @include dv.fallback-message;
}