@use '../_design-variables.scss' as dv;


.rec-container {
  display: flex;
  flex-direction: row;
  background-color: dv.$color-tertiary;
  color: dv.$color-primary;
  justify-content: flex-start;

  @media (max-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.container-closed {
  width: fit-content;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.container-open {
  $rec-container-width: 25%;
  flex: 1;
  min-width: $rec-container-width;
  max-width: $rec-container-width;
  overflow: hidden;
}




$chevron-base-size: 32px;
$chevron-medium-size: 42px;
$chevron-large-size: 64px;


.panel-button {
  background: dv.$color-primary;
  border: none;
  cursor: pointer;
  z-index: 20;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  min-width: $chevron-base-size;

  // When open: ~20% width
  @at-root .container-open & {
    width: 20%;
  }

  // When closed: full width
  @at-root .container-closed & {
    width: 100%;
  }


}


.chevron-icon {
  width: 100%;
  color: dv.$color-quaternary;
  transition: transform 0.3s ease;
  stroke-width: 2px;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }


  @media (min-width: 600px) {
    width: $chevron-medium-size;
    height: $chevron-medium-size;
  }

  @media (min-width: 900px) {
    width: $chevron-large-size;
    height: $chevron-large-size;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}


.rec-panel {
  background-color: dv.$color-primary;
  height: 95%;
  flex: 1 1 80%; // allow it to shrink
  min-width: 0; // allow it to shrink properly
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: dv.$spacing-medium;
  border-radius: dv.$border-radius-medium;
  margin: dv.$spacing-medium;
  overflow-y: auto;

  @media (max-width: 768px) {
    flex: 1 1 75%;
    margin: dv.$spacing-small;
  }

  @media (max-width: 480px) {
    flex: 1 1 70%;
    margin: dv.$spacing-smallest;
    border-radius: 0;
  }

  h1 {
    font-size: dv.$font-size-medium-large;
    color: dv.$color-tertiary;
    background-color: dv.$color-primary;
    flex-wrap: wrap;
    text-overflow: ellipsis;
  }
}

.recviz-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  overflow-y: auto;
  gap: dv.$spacing-medium;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: dv.$spacing-large;

  h2 {
    margin-top: dv.$spacing-small;
    font-size: dv.$font-size-medium;
    color: dv.$color-tertiary;
  }
}

.fallback-message {
  @include dv.fallback-message;
}