@use '../_design-variables.scss' as dv;

.RecViz-container {
    background-color: dv.$color-tertiary;
    border: 1px solid dv.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: dv.$spacing-small;
    border-radius: dv.$border-radius-medium;
    font-family: dv.$font-family-primary;
    width: 92%;
    max-width: 92%;

}

.RecViz-heading {
    font-size: dv.$font-size-medium;
    color: dv.$color-primary;
    margin-bottom: dv.$spacing-small;
}

.RecViz-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: dv.$spacing-small;
    margin-bottom: dv.$spacing-small;
}

.RecViz-button {
    @include dv.button-styles;
    display: flex;
    gap: dv.$spacing-smallest;
    font-size: dv.$font-size-small;
    width: 100%;
    align-items: center;
    justify-content: center;
}
