@use '_design-variables.scss' as design-variables;

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Prevent scrolling */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; // Ensure the container takes the full width of the viewport


  .row-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 1; // This will make the column grow to fill available space
    }

  }


  .header {
    width: 100%;
    position: relative;
    background-color: design-variables.$color-primary;
    height: 4rem;
    text-align: left;
    font-size: 3rem;
    color: #fff;
    font-family: design-variables.$font-family-primary;
    flex-shrink: 0;

    .title {
      margin-left: 3rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }


}