@use '_design-variables.scss' as design-variables;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .app-header {
    height: 4rem;
    background-color: design-variables.$color-primary;
    color: #fff;
    font-size: 3rem;
    font-family: design-variables.$font-family-primary;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    flex-shrink: 0;
  }

  .app-body-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: auto;
  }

  footer {
    height: 3rem;
    background-color: #7bd684;
    text-align: center;
    line-height: 3rem;
    flex-shrink: 0;
  }
}
