@use '../../_design-variables.scss' as dv;


.form-group {
    margin-bottom: dv.$spacing-small;
    display: flex;
    flex-direction: column;
    justify-content: left;

    .form-group-input {
        display: flex;
        flex-direction: row;
    }
}

.label {
    display: block;
    font-size: dv.$font-size-medium;
    color: dv.$color-primary;
    margin-bottom: dv.$spacing-small;
    font-weight: bold;
}

.select {
    width: 100%;
    padding: dv.$spacing-small;
    font-size: dv.$font-size-small;
    border-radius: dv.$border-radius-small;
    border: 1px solid dv.$color-primary;
    background-color: white;
    font-family: dv.$font-family-primary;
}

.option-selected {
    background-color: dv.$color-tertiary;
}


.delete-button {
    @include dv.button-styles;
    font-size: dv.$font-size-small;

}

.fallback-message {
    @include dv.fallback-message;
}

.debug-output {
    margin-top: dv.$spacing-large;
    background-color: dv.$color-tertiary;
    padding: dv.$spacing-medium;
    border-radius: dv.$border-radius-medium;
    font-size: dv.$font-size-small;
    white-space: pre-wrap;
}