.table-container {
    width: 100%;
    height: 30em;
    padding: 1em;
    overflow-y: auto;
    background-color: #D98324;
    position: relative; /* Ensure the button is positioned relative to this container */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
    position: sticky; /* Ensure that the header is always displayed */
    top: 0;
    z-index: 2; /* Ensure the header is above the sticky row */
}

.table-container tr {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #D98324;
}

/* we want the current selected row to still be on the screen when scrolling away from it */
.table-container tr.selected {
    position: sticky;
    top: 3em; /* Adjust this value based on the height of the header */
    z-index: 1; /* Ensure the selected row is above other rows but below the header */
    background-color: #EFDCAB;
}

.confirm-button {
    display: block;
    width: 100%;
    padding: 0.7em;
    margin-top: 1em;
    background-color: #EFDCAB;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: sticky; /* Ensure the button stays at the bottom */
    bottom: 0;
}

.confirm-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
