@use '../../_design-variables.scss' as dv;




.field-item {
    margin-bottom: dv.$spacing-small;
    padding: dv.$spacing-small;
    background-color: dv.$color-quaternary;
    border-radius: dv.$border-radius-small;
    transition: background-color 0.3s ease;

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: dv.$spacing-small;
        font-size: dv.$font-size-small;
        color: dv.$color-primary;

        b {
            font-weight: bold;
            color: dv.$color-secondary;
        }

        input[type="checkbox"] {
            margin-right: dv.$spacing-small;
            cursor: pointer;
            accent-color: dv.$color-secondary;
        }

        &:hover {
            background-color: lighten(dv.$color-quaternary, 5%);
        }
    }
}



.fallback-message {
    @include dv.fallback-message;
}